<ng-fy-sidebar [data]="sidebarData">
  <div style="padding:20px 10px">
    <h2>ng-fy-ripple</h2>
    <p>All element one directive</p>
    <button ngFyRipple style="outline: none;height: 100px;width: 150px;">
      On Button
    </button>
    <div ngFyRipple style="height: 100px;width: 150px;display: inline-flex;justify-content: center;align-items: center;margin-left: 20px;">
      <p>Not Button</p>
    </div>
    <br><br>
    <a href="mailto:tahsincesur1@gmail.com">For Feedback and Problems</a>
  </div>
</ng-fy-sidebar>
